# /etc/systemd/system/weather-api.timer

[Unit]
Description=Fetch weather API data every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=1s

[Install]
WantedBy=timers.target
