[Desktop Entry]
Type=Application
Name=Ranger File Manager
Comment=Launch Ranger in Alacritty
Exec=/home/rickey/.local/bin/rfm
Icon=utilities-terminal
Terminal=false
Categories=System;FileManager;
